{% extends 'base.html.twig' %}
{% block stylesheets %}
     {{ encore_entry_link_tags('home') }}
{% endblock %}
{% block title %}Home {% endblock %}

{% block body %}
    <div class="container">
        {{ include('common-header.html.twig') }}
        <div class="contents">
            <div class="info">
                <h1 class="subTitle">Calendar & tasks manager</h1>
                <p>Create events and tasks with a simple calendar display</p>
            </div>
            {{ include('home/_form.html.twig') }}
        </div>
        <div class="features">
            <div class="featContents">
                <div class="iconWrap"><span class="material-icons mIcon">date_range</span></div>
                <p>Edit events easily</p>
            </div>
            <div class="featContents">
                <div class="iconWrap"><span class="material-icons mIcon">fact_check</span></div>
                <p>Visualize tasks in calendar or list type</p>
            </div>
            <div class="featContents">
                <div class="iconWrap"><span class="material-icons mIcon">account_circle</span></div>
                <p>Personalized account to keep track of everything</p>
            </div>
        </div>
    </div>
{% endblock %}
