{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link href="{{ asset('css/form.css') }}" rel="stylesheet"/>
{% endblock %}
{% block title %}Bethink | Register{% endblock %}

{% block body %}
    {{ include('header.html.twig') }}
    <h1>Complete the form to start your account</h1>

    {{ include('user/_form.html.twig') }}

    <!-- <a href="{{ path('user_index') }}">back to list</a> -->
{% endblock %}
