{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ encore_entry_link_tags('form') }}
{% endblock %}
{% block title %}Bethink | Register{% endblock %}

{% block body %}
    {{ include('common-header.html.twig') }}
    <div class="container">
        <h1>Complete the form to start your account</h1>

        {{ include('user/_form.html.twig') }}
    </div>    
{% endblock %}
