* {
  box-sizing: border-box;
}
.container {
  position: relative;
}
.pseudoHeader {
  display: flex;
  position: relative;
  align-items: baseline;
}
a {
  text-decoration: none;
}
.emailForm {
  width: 75%;
  margin: auto;
  position: relative;
}
.btn {
  width: 100%;
  height: 40px;
}
.btnWrap {
  margin-top: 15px;
}
.required {
  width: 100%;
  display: inline-block;
  margin: 10px 0px;
}
.emailInput {
  width: 100%;
}
.btnSignIn {
  border: 1px solid black;
  height: 30px;
  width: 65px;
  position: absolute;
  right: 0px;
  top: 30px;
  text-align: center;
  padding-top: 3px;
  border-radius: 5px;
}
.contents {
  margin-bottom: 15px;
}
.mIcon {
  color: #407EC9;
  margin-right: 15px;
}
.featContents {
  display: inline-flex;
  align-items: center;
}
@media (min-width: 768px) {
  .emailForm {
    width: 50%;
    margin: unset;
    padding: 10px;
  }
  .info {
    position: relative;
    width: 50%;
    padding: 10px;
  }
  .contents {
    display: flex;
    margin-bottom: 30px;
  }
  .features {
    display: flex;
  }
  .featContents {
    display: block;
    width: 50%;
  }
  .iconWrap {
    width: 25%;
    margin: auto;
  }
  #sign_up {
    margin-top: 80px;
  }
}
