{% extends 'base.html.twig' %}

{% block title %}Edit UserConfig{% endblock %}

{% block body %}
    <h1>Edit UserConfig</h1>

    {{ include('user_config/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('user_config_index') }}">back to list</a>

    {{ include('user_config/_delete_form.html.twig') }}
{% endblock %}
