{% extends 'base.html.twig' %}

{% block title %}New UserConfig{% endblock %}

{% block body %}
    <h1>Create new UserConfig</h1>

    {{ include('user_config/_form.html.twig') }}

    <a href="{{ path('user_config_index') }}">back to list</a>
{% endblock %}
