{% block stylesheets %}
    {{ encore_entry_link_tags('searcher') }}
{% endblock %}
<div class="searcher">
    <div class="npt-wrp"><input type="text" id="search" class="form-controll" name="calendarName"></div>
    <div class="btn-wrp"><button type="submit" class="searcherB material-icons glass" id="sButton">search</button></div>
</div>
{% block javascripts %}
    {{ encore_entry_script_tags('func') }}
{% endblock %}
