{% block stylesheets %}
    {{ encore_entry_link_tags('searcher') }}
{% endblock %}
<div class="searcher">
    <div><input type="text" id="search" class="form-controll" name="calendarName"></div>
    <div><button type="submit" class="searcherB" id="sButton"><span class="material-icons glass">search</button></div>
</div>
{% block javascripts %}
    {{ encore_entry_script_tags('func') }}
{% endblock %}
