@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
.home {
  text-decoration: none;
  font-family: 'Lobster', cursive;
}
.pseudoHeader {
  display: flex;
  position: relative;
  align-items: center;
  padding: 0px 15px;
}
.btnSignIn {
  position: absolute;
  right: 15px;
}
.btn-sign {
  width: 70px;
  height: 30px;
  background-color: #5F8FB4;
  color: whitesmoke;
  border-radius: 5px;
  font-size: 15px;
  border: none;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
}
.btn-sign:focus {
  outline: none;
}
.leaf {
  font-size: 35px;
}
.home, .leaf {
  color: #5F8FB4;
  position: relative;
}