.home {
  text-decoration: none;
}
.pseudoHeader {
  display: flex;
  position: relative;
  align-items: center;
}
.btnSignIn {
  position: absolute;
  right: 15px;
}
.btn-sign {
  width: 120px;
  height: 50px;
  background-color: #5F8FB4;
  color: whitesmoke;
  border-radius: 5px;
  font-size: 20px;
  border: none;
  cursor: pointer;
}
.leaf, .user, .menu {
  font-size: 40px;
}
.home, .leaf, .user, .menu {
  color: #5F8FB4;
}
.burger {
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.burgerMenu {
  position: absolute;
  right: 40px;
  top: 30px;
}
.userWrap {
  position: relative;
}
.sidepanel {
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #5F8FB4;
  overflow-y: hidden;
  transition: 0.5s;
}
.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}
.sidepanel a {
  padding: 8px;
  text-decoration: none;
  color: whitesmoke;
  display: block;
  transition: 0.3s;
}
.sidepanel .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}
.home {
    left: 15px;
    position: relative;
}
.leaf {
    left: 20px;
    position: relative;
}

.title {
  color: #256BA2;
  margin-left: 15px;
}

