.container {
  position: relative;
}
a {
  text-decoration: none;
}
.emailForm {
  width: 75%;
  margin: auto;
  position: relative;
}
.btn {
  width: 100%;
  height: 40px;
}
.btnWrap {
  margin-top: 15px;
}
.required {
  width: 100%;
  display: inline-block;
  margin: 10px 0px;
}
.emailInput {
  width: 100%;
  height: 30px;
}

.contents {
  margin-bottom: 15px;
}
.mIcon {
  color: #5F8FB4;
  margin-right: 15px;
  font-size: 40px;
}
.featContents {
  display: inline-flex;
  align-items: center;
}
@media (min-width: 768px) {
  .emailForm {
    width: 50%;
    margin: unset;
    padding: 10px;
  }
  .info {
    position: relative;
    width: 50%;
    padding: 10px;
  }
  .contents {
    display: flex;
    margin-bottom: 30px;
  }
  .features {
    display: flex;
  }
  .featContents {
    display: block;
    text-align: center;
  }
  .featContents:nth-of-type(1) {
    width: 100%;
  }
  .iconWrap {
    width: 25%;
    margin: auto;
  }
  #sign_up {
    margin-top: 70px;
  }
}
