.container {
  position: relative;
}
.loginEmail, .loginPasswd {
  margin: 20px 0px;
  width: 100%;
}
.btnWrap {
  width: 80%;
  height: 40px;
  margin: auto;
  margin-top: 10px;
}
.btn {
  width: 100%;
  height: inherit;
  margin: auto;
}
.loginForm {
  width: 85%;
  margin: auto;
  margin-top: 40px;
}
.lbl {
  width: 100%;
  display: inline-block;
}
.title {
  width: 100%;
  margin: auto;
}
.btnSignIn {
  display: none;
}

@media (min-width: 768px) {
  .loginForm, .btnWrap {
    width: 50%;
  }
  .loginEmail, .loginPasswd {
    height: 40px;
  }
  .title {
    width: 70%;
  }
  .loginForm {
    margin-top: 150px;
  }
}

@media (min-width: 1024px) {
  .loginForm {
    width: 40%;
  }
  .btnWrap {
    width: 30%;
    margin: unset;
    margin-top: 15px;
  }
  .title {
    width: 50%;
  }
}

@media(min-width: 1440px) {
  .loginForm, .btnWrap {
    width: 30%;
  }
  .title {
    width: 60%;
  }
}