.container {
  position: relative;
}
.loginEmail, .loginPasswd {
  margin: 20px 0px;
  width: 100%;
}
.btnWrap {
  width: 80%;
  height: 40px;
  margin: auto;
  margin-top: 10px;
}
.btn {
  width: 100%;
  height: inherit;
  margin: auto;
}
.loginForm {
  width: 85%;
  margin: auto;
  margin-top: 40px;
}
.lbl {
  width: 100%;
  display: inline-block;
}
.title {
  width: 100%;
  margin: auto;
}
.btnSignIn {
  display: none;
}
