<div id="burgerMenu" class="sidepanel">
  <a href="javascript:void(0)" class="closebtn material-icons">clear</a>
  <div class="overlay-content">
    <a href="{{ path('user_edit', {'id': user.id}) }}">Account Settings</a>
    <a href="{{ path('app_logout') }}">Logout</a>
  </div>