{% block stylesheets %}
    <link href="{{ asset('css/header.css') }}" rel="stylesheet"/>
{% endblock %}
{% block body %}
  <div class="pseudoHeader">
            <a href="{{ path('home') }}" class="home"><h1>Bethink</h1></a>
            <div class="btnSignIn">
                <a href="{{ path('app_login') }}">Sign in</a>
            </div>
        </div>
{% endblock %}