{% block stylesheets %}
    <link href="{{ asset('css/header.css') }}" rel="stylesheet"/>
{% endblock %}
{% block body %}
  <div class="pseudoHeader">
            <a href="{{ path('home') }}" class="home"><h1>App name</h1></a>
        </div>
{% endblock %}