{% block stylesheets %}
    {{ encore_entry_link_tags('header') }}
{% endblock %}
{% block body %}
  <div class="pseudoHeader">
            <a href="{{ path('home') }}" class="home"><h1>Bethink</h1></a>
            <span class="material-icons leaf">eco</span>
            <div class="burgerMenu">
                <button class="burger material-icons menu">menu</button>
            </div>
        </div>
  <div>{{ include('burger-menu.html.twig') }}</div>
{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('burger-menu') }}
{% endblock %}