{{ form_start(form) }}
    <div class="form">
        {{ form_widget(form, { 'attr': {'class': 'userForm'} }) }}
        
        <div class="btnWrap">
            <button class="btn btn-sbmt">{{ button_label|default('Save') }}</button>
        </div>
    </div>
{{ form_end(form) }}
