{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ encore_entry_link_tags('config') }}
{% endblock %}
{% block title %}Bethink | Settings{% endblock %}

{% block body %}
    <user-header></user-header>
    <div class="stg-frm">
        <h1>Settings</h1>
        <div class="frm-wrp">
            <div class="options">
                <a href="#">Edit profile</a>
                <a href="#">Change password</a>
            </div>
            {{ include('user/_form.html.twig', {'button_label': 'Submit changes'}) }}
            {{ include('user/_delete_form.html.twig') }}
        </div>
    </div>
{% endblock %}
